<div class="grid">
    <div class="col-12">
        <app-skelleton *ngIf="load" [table]="['Libellé', 'Commune', 'Créé le', 'Mise à jour le']"
        title="Liste des Quartiers"></app-skelleton>
        <div *ngIf="!load" class="card border-round-2xl">



            <div class="col flex justify-content-between align-items-center">
                <div class="justify-content-center flex align-items-center">
                    <i class="pi pi-fw pi-table" style="font-size: xxx-large;color: #0e3f6a;"></i>

                    <h3 style="
                font-weight: bold;
                color: #0e3f6a;
                white-space: nowrap !important;
            ">
                                       {{ titlePage }}
                    </h3>
                </div>
                <div class="flex align-content-center align-items-center">


                    <!-- Option buttons -->
                    <button type="button" [style]="{minHeight: '48px'}" pButton pRipple (click)="printListe()"
                        class="p-button-secondary mr-2" pTooltip="PRINT" icon="pi pi-print" label="Imprimer"></button>

                    <p-button label="Ajouter un Quartier" icon="pi pi-plus" [style]="{ minHeight: '48px' }"
                        iconPos="right" (click)="add()"></p-button>


                </div>

            </div>


            <p-table #dt [value]="tableData" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="[
                    'nom',
                    'libelle',
                    'idCommunes',
                    'updatedAt',
                    'createdAt',
                    'est chef de famille ?'
                ]" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <div style="width: 100%">
                            <div style="width: 100%; display: flex">
                                <div style="width: 94% !important">
                                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="input" style="
                                                width: 100% !important;
                                                border-radius: 20px !important;
                                                border-color: cornflowerblue;
                                                min-height: 48px !important;
                                            " (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."
                                            class="w-full sm:w-auto" />
                                    </span>
                                </div>

                                <div
                                    class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                    <i class="pi pi-file" (click)="dt.exportCSV()" pTooltip="CSV"
                                        tooltipPosition="bottom" style="
                                            font-size: 1.5rem;
                                            cursor: pointer;
                                            margin-right: 13px;
                                            color: #757575;
                                            margin-left: 13px;
                                        "></i>

                                    <i class="pi pi-file-excel" (click)="exportExcel()" pTooltip="XLS"
                                        tooltipPosition="bottom" style="
                                            font-size: 1.5rem;
                                            cursor: pointer;
                                            margin-right: 13px;
                                            color: #757575;
                                        "></i>

                                </div>
                            </div>
                        </div>
                    </div>

                </ng-template>

                <ng-template pTemplate="header">

                    <tr>
                        <th>#</th>

                        <th pSortableColumn="libelle">
                            Commune
                            <p-sortIcon field="libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="idCommunes">
                            Nom du quartier <p-sortIcon field="idCommunes"></p-sortIcon>
                        </th>
                        <th pSortableColumn="createdAt">
                            Crée le<p-sortIcon field="createdAt"></p-sortIcon>
                        </th>
                        <th pSortableColumn="updatedAt">
                            Mise à jour le
                            <p-sortIcon field="updatedAt"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td style="width: 5%; min-width: 3rem">
                            {{ i + 1 }}
                        </td>
                        <td>
                            <span class="p-column-title">Commune</span>
                            {{ item?.commune.commune }}
                        </td>
                        <td>
                            <span class="p-column-title">Libelle</span>
                            {{ item?.libelle }}
                        </td>
                        <td>
                            <span class="p-column-title">Crée le</span>
                            {{ item?.createdAt | date:"MMM, dd yyyy" }}
                        </td>
                        <td>
                            <span class="p-column-title">Mise à jour le</span>
                            {{ item?.updatedAt | date:"MMM, dd yyyy" }}
                        </td>

                        <td>
                            <div class="flex">
                                <i class="pi pi-eye icon mr-3" routerLink="../details/{{item?.id}}"
                                    style="font-size: 1.5rem; cursor: pointer"></i>
                                <i class="pi pi-pencil icon mr-3" (click)="edit(item)"
                                    style="font-size: 1.5rem; cursor: pointer"></i>
                                <i class="pi pi-trash icon" (click)="opendeleteDialog(item)" style="font-size: 1.5rem; cursor: pointer"></i>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7" style="text-align: center" style="text-align: center">
                            Aucun quartier trouvé.
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <!-- Creation d'un nouveau quartier -->
        <p-dialog [(visible)]="formState" header="{{formTitle}}" [modal]="true" [style]="{ width: '450px' }">
            <form class="flex flex-column" action="" [formGroup]="form">
                <div class="mb-4">
                    <span>Libellé</span>
                    <input
                    style="display: none;"
                    class="p-inputtext-sm text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                    type="text" [(ngModel)]="temporaile.id" pInputText formControlName="id" />
                    <input
                        class="p-inputtext-sm text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        type="text" pInputText [(ngModel)]="temporaile.libelle" formControlName="libelle" placeholder="Nom du quartier" />
                    <span class="erreur" *ngIf="libelle.touched && libelle.invalid" class="error">Ce champ est requis</span>
                </div>
                <div>
                    <span>Commune</span>
                    <p-dropdown formControlName="idCommunes" [(ngModel)]="temporaile.idCommunes" [options]="communeData" optionLabel="commune" optionValue="id"
                        placeholder="Selectionner une commune" appendTo="body" filter="true"></p-dropdown>
                    <span class="erreur" *ngIf="idCommunes.touched && idCommunes.invalid" class="error">Ce champ est requis</span>
                </div>
            </form>

            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="Non" size="small"
                    (click)="formState = false"></button>
                <button pButton pRipple size="small" *ngIf="formTitle =='Ajouter une Quartier'" icon="pi pi-check" class="p-button-primary" label="Ajouter"
                    (click)="addQuarter()"></button>
                    <button pButton pRipple size="small" *ngIf="formTitle =='Modifier une Quartier'" icon="pi pi-check" class="p-button-primary" label="Modifier"
                    (click)="modifier()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="deleteDialog" header="Suppression" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem; color: red"></i>
                <span>Voulez-vous supprimer le quartier
                    <b>{{ temporaile?.libelle }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-secondary" label="Non" size="small"
                    (click)="deleteDialog = false"></button>
                <button pButton pRipple size="small" icon="pi pi-check" class="p-button-danger" label="oui , supprimer"
                    (click)="deleteQuartier()">
                    <i *ngIf="state" class="pi pi-spin pi-spinner"></i>

                </button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<p-toast></p-toast>
