<div class="login-body "
    style="background-image: url(../../../../assets/demo/ban.jpg);background-repeat: no-repeat;background-position: center;background-size: cover; ">
    <div style="width: 100%;height: 100%;background-color: #00ccff4d !important;display: flex;align-items: center;">
        <div class="login-panel"
            style="width: 350px;text-align: start; padding: 0px !important;border-radius: 15px !important;background-color: transparent !important;">
            <p-card>
                <div class="col-12 flex text-align-center justify-content-center align-items-center align-content-center" style="background:linear-gradient(to top, #235a8c, #0e3f6a);color: white;font-weight: bolder;border-top-left-radius: 15px;border-top-right-radius: 15px;">
                    <h3>Groupp App</h3>
                </div>
                <form [formGroup]="userInfo" class="p-2" (submit)="login()">

                    <div class="p-col-12">
                        <div class="input-wrapper input-field"
                            [class.error]="username.invalid && username.hasError('required','type')">
                            <label class="form-label" for="form3Example3">Noms d'utilisateur<span
                                    class="text-danger me-1">*</span></label>
                            <input type="text" formControlName="username" placeholder="user " required
                                pInputText>
                        </div> 
                        <div *ngIf="username.invalid && (username.touched || username.dirty) ">
                            <span class="error fs-6 text-danger mx-2 my-2 " *ngIf="username.errors?.required ">*The
                                username is required</span>
                

                        </div>
                    </div>
                    <div class="p-col-12">
                        <div class="input-wrapper input-field"
                            [class.error]="password.invalid && password.hasError( 'required', 'type') ">
                            <label for="pass" class="form-label">Password<span
                                    class="text-danger me-1 ">*</span></label>
                            <input type="password" formControlName="password" class="form-control " required pInputText>
                        </div>
                    </div>
                    <div *ngIf="password.invalid && (password.touched || password.dirty) ">
                        <span class="error fs-6 text-danger mx-2 my-2 " *ngIf="password.errors?.required ">*The Password
                            is Required</span>
                      

                    </div>
                    <span class="error fs-6 text-danger mx-2 my-2 "
                    *ngIf="subscribError ">*{{subscribError?.message}}.</span>
                
                    <div class="checkbox-container" style="padding-left: 10px;">

                        <button pButton pRipple type="submit" style="width: 100%;"  label="Login"
                            class="p-button-rounded p-button-primary mr-2 mb-2"
                            [disabled]="submitted"
                            >
                            <i *ngIf="submitted" class="pi pi-spin pi-spinner"></i>

                        </button>
                    </div>
                </form>
           
            </p-card>
        </div>
    </div>



</div>