.p-col-12{
    padding: 10px !important;
    padding-top: 3px !important;
}
input{
    margin-top: 8px !important;
    border-radius: 8px !important;
}
:host ::ng-deep .p-component, .p-component *{
    border-radius: 15px !important;
}
:host ::ng-deep .p-card .p-card-body{
    padding: 0px;
    margin: 0px;
}
h3{
    margin: 0px;
    padding: 0px;
}

:host ::ng-deep .p-card .p-card-content{
    padding-top: 0px !important;
    padding-bottom: 17px !important;
}