@media screen and (max-width: 960px) {
    :host ::ng-deep .fc-header-toolbar {
        display: flex;
        flex-wrap: wrap;

        .fc-dayGridMonth-button {
            margin-top: 1rem;
        }
        .fc-timeGridWeek-button{
            margin-top: 1rem;
        }
        .fc-timeGridDay-button{
            margin-top: 1rem;
        }
    }
}