<div class="route-bar">
    <div class="route-bar-breadcrumb">
        <ul>
            <li>
                <a routerLink="/administration">
                    <i class="pi pi-home" style="color: #001a31;"></i>
                </a>
            </li>
            <li>/</li>
            <ng-template ngFor let-item let-last="last" [ngForOf]="items">
                <li >
                    <a [routerLink]="item.routerLink" style="color: #001a31;font-weight: bold;" *ngIf="item.routerLink">{{item.label}}</a>
                    <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
                </li>
                <li *ngIf="!last">/</li>
            </ng-template>
        </ul>
    </div>
</div>
