<app-dashoard-skeleton *ngIf="loader"></app-dashoard-skeleton>
<div *ngIf="!loader" class="card border-round-2xl">
    <h5 class="font-bold">Details Du Quartier: {{ quartierDetails.libelle}}</h5>
    <h5 class="font-bold">De la Commune: {{ quartierDetails.commune.libelle}}</h5>


    <h3 class="font-bold mb-6">Liste des Résidences du quartier</h3>


    <div>
        <section class="grid">
            <div class="col-12 md:col-6 lg:col-3" *ngFor="let element of quartierDetails.residences">
                <p-card  header=" {{element.description}}"  style="cursor: pointer;" routerLink="/administration/menage/details/{{element.id}}" >
                    <ng-template pTemplate="header">
                        <img alt="Card" src="../../../../assets/residences.jpeg" />
                    </ng-template>
                 
                </p-card>
            </div>
          
        </section>

        <section *ngIf="quartierDetails.residences.length == 0">
           <h4>Aucune Résidence dans ce quartier</h4>
        </section>
    </div>


</div>