<form [formGroup]="form" >
    <div class="col-12 flex" *ngFor="let field of fields">
            <div class="col">
                <span >
                    <label
                    class="px-2 py-2"
                    style="
                        font-weight: bold;
                        color: rgb(0, 0, 0);
                    "
                    for="{{field.name}}"
                    >{{ field.label }}*</label
                >

                    <input
                        *ngIf="field.type !== 'dropdown'" 
                        id="{{field.name}}"
                        type="{{ field.type || 'text' }}"
                        [(ngModel)]="temporaile[field.name]"
                        placeholder="{{field.label}}"
                       [formControlName]="field.name"
                        [style]="{
                            width: '100%',
                            borderRadius: '10px',
                            minHeight: '48px',

                        }"
                        pInputText
                    />

         
                        
                    <p-dropdown
                    *ngIf="field.type === 'dropdown' && field.state === 'residence'" 
                    [filter]="true" 
                    filterBy="description" 
                    optionValue="id"
                    optionLabel="description"
                    [showClear]="true"
                    [options]="residence" 
                    [(ngModel)]="temporaile[field.name]"
                    [formControlName]="field.name"
                    [style]="{
                        width: '100px',
                        borderRadius: '10px',
                        minHeight: '48px',

                    }"
                  ></p-dropdown>
              

                  <p-dropdown
                  *ngIf="field.type === 'dropdown' && field.state === 'commune'" 
                  [options]="communes" 
                  optionValue="id"
                  optionLabel="libelle"
                  [(ngModel)]="temporaile[field.name]"
                  [filter]="true" 
                  filterBy="libelle" 
                  [showClear]="true"
                  appendTo="body"
                  [formControlName]="field.name"
                  [style]="{
                    width: '100px',
                    borderRadius: '10px',
                    minHeight: '48px',

                }"
                ></p-dropdown>

                  


                
             
                </span>
            </div>

    </div>
    <div class="col-12 flex justify-content-end">
        <button
        *ngIf="status == 'add'"
            pButton
            pRipple
            class="p-button"
            size="small"
            label="Enregistrer"
            (click)="save()"
        >
        <i *ngIf="state" class="pi pi-spin pi-spinner"></i>

        </button>
        <button
        *ngIf="status == 'modifier'"
            pButton
            pRipple
            class="p-button"
            size="small"
            label="Modifier"
            (click)="edit()"
        >
        <i *ngIf="state" class="pi pi-spin pi-spinner"></i>

        </button>
        <button
            pButton
            pRipple
            class="p-button-text"
            label="Annuler"
            (click)="disabled('disabled')"
        ></button>
    </div>
</form>

