<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">

                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">
                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">
                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">
                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">

                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">
                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">
                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="overview-box">
                <p-skeleton width="100%" height="100px"></p-skeleton>

            </div>
        </div>
   



        <div class="col-12 md:col-12 lg:col-12 xl:col-6">
            <p-panel header="" styleClass="statistics">
                        <p-skeleton width="100%" height="385px"></p-skeleton>


            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-6">
            <p-skeleton width="100%" height="100%"></p-skeleton>

        </div>
  
    </div>
</div>