/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/demo/flags/flags.css";
@import "assets/demo/documentation.scss";

:host ::ng-deep .p-multiselect {
    min-width: 15rem;
}

:host ::ng-deep .multiselect-custom-virtual-scroll .p-multiselect {
    min-width: 20rem;
}

:host ::ng-deep .multiselect-custom .p-multiselect-label {
    padding-top: .25rem;
    padding-bottom: .25rem;

}

:host ::ng-deep .multiselect-custom .element-item.element-item-value {
    padding: .25rem .5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: .5rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

:host ::ng-deep .multiselect-custom .element-item.element-item-value img.flag {
    width: 17px;
}

:host ::ng-deep .multiselect-custom .element-item {
    display: flex;
    align-items: center;
}

:host ::ng-deep .multiselect-custom .element-item img.flag {
    width: 18px;
    margin-right: .5rem;
}

:host ::ng-deep .multiselect-custom .element-placeholder {
    padding: 0.25rem;
}

:host ::ng-deep .p-colorpicker {
    width: 2.5em
}

p-table td{
    overflow-wrap: break-word;
    max-width: 15em;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.erreur {
    color: red;
    margin-top: 5px;
  }
