$primaryColor:#722CEE;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#5023A0;
$topbarBgRightColor:#7A318D;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#321367;
$topbarMenuHoverBgColor:#9250AE;
$topbarProfileTextColor:#ffffff;
$activeSubMenuItemTextColor:#4b6cb7;
$sidebarMenuItemActiveRouteTextColor:#4b6cb7;
$sidebarMenuItemActiveRouteIconColor:#4b6cb7;

@import '../../sass/layout/_layout';
